html {
    line-height: 1.15;
    font-family: Open Sans;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.625;
    color: var(--dl-color-secondary-400);
    background-color: var(--dl-color-gray-white);
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
}

button,
select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
    outline: 1px dotted Button Text;
}

a {
    color: inherit;
    text-decoration: inherit;
}



img {
    display: block;
}

html {
    scroll-behavior: smooth
}

.primary-pink-button-button {
    color: var(--dl-color-gray-white);
    outline: none;
    background: linear-gradient(310deg, #7928ca, #ff0080);
    box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
    transition: all .15s ease-in;
    padding-top: var(--dl-space-space-triplequarterunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: 1.875rem;
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-triplequarterunit);
}

.primary-pink-button-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* Start Header */

.header {
    top: 0px;
    left: auto;
    right: auto;
    width: 100%;
    bottom: auto;
    z-index: 3;
    position: fixed;
    max-width: 1320px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
}

.header-nav {
    min-width: 100%;
    min-height: 60px;
    display: inline-flex;
    box-shadow: 0 .25rem .375rem -.0625rem hsla(0, 0%, 8%, .12), 0 .125rem .25rem -.0625rem hsla(0, 0%, 8%, .07) !important;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: var(--dl-radius-radius-radius40);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, .8) !important;
    margin-left: 8%;
}

.header-container {
    color: var(--dl-color-gray-black);
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
}

.header-menu {
    list-style: none;
    display: flex;
}

.logo {
    width: 100px;
    object-fit: cover;
    height: 17px 
}

.header-navlink {
    margin-top: var(--dl-space-space-halfunit);
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
}

.header-navlink:hover {
    color: var(--dl-color-gray-500);
}

.header-button {
    display: inline-flex;
}

.header-burger-menu {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-icon {
    min-width: 24px;
    min-height: 24px;
    margin-left: var(--dl-space-space-unit);
}

.header-mobile-menu {
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100vh;
    display: none;
    padding: var(--dl-space-space-unitandahalfunit);
    z-index: 100;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.header-top {
    min-width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.header-close-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.header-icon2 {
    min-width: 24px;
    min-height: 24px;
}

.header-mid {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
}

.header-menu-mobile {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.header-navlink-mobile {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
}

.header-navlink-mobile:hover {
    color: var(--dl-color-gray-500);
}

.header-bot {
    display: flex;
    margin-top: auto;
    flex-direction: column;
}

@media(max-width: 991px) {
    .header-nav {
        max-width: 960px;
        margin-left: 4px;
    }

    .header-menu {
        display: none;
    }
}

@media(max-width: 1450px) {
    .header-nav {
        max-width: 960px;
        margin-left: 4px;
    }

    .header-menu {
        display: none;
    }
}

@media(max-width: 767px) {
    .header-nav {
        margin-left: 4px;
    }
    .header-burger-menu {
        display: flex;
    }
}


.outline-gray-button-button {
    color: var(--dl-color-secondary-200);
    outline: none;
    transition: all .15s ease-in;
    padding-top: var(--dl-space-space-triplequarterunit);
    border-color: var(--dl-color-secondary-200);
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: 1.875rem;
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-triplequarterunit);
}

.outline-gray-button-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* End Header */

/* Start Feature */

.feature-card-container {
    width: 25%;
    display: flex;
    /* margin-top: var(--dl-space-space-triplequarterunit); */
    align-items: center;
    padding-left: var(--dl-space-space-triplequarterunit);
    padding-right: var(--dl-space-space-triplequarterunit);
    flex-direction: column;
}

.feature-card-image {
    height: 30px;
    object-fit: cover;
    margin-bottom: var(--dl-space-space-unitandahalfunit);
}

.feature-card-title {
    color: var(--dl-color-secondary-600);
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
}

.feature-card-desc {
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
}

@media(max-width: 767px) {
    .feature-card-container {
        width: 50%;
    }
}

@media(max-width: 479px) {
    .feature-card-container {
        width: 100%;
    }
}

.outline-black-button-button {
    color: var(--dl-color-secondary-700);
    cursor: pointer;
    outline: none;
    min-width: 150px;
    transition: 0.3s;
    padding-top: var(--dl-space-space-triplequarterunit);
    padding-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-triplequarterunit);
}

.outline-black-button-button:hover {
    transform: scale(1.02);
}



.list-item-container {
    flex: 0 0 auto;
    display: flex;
    padding: 1rem;
    max-width: 500px;
    align-items: flex-start;
    flex-direction: column;
}

.list-item-text {
    color: var(--dl-color-secondary-600);
    margin-bottom: var(--dl-space-space-halfunit);
}

/* End Feature */

/* Start Footer */

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(310deg, #141727, #3a416f);
}

.footer-container {
    color: var(--dl-color-gray-white);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 1;
    max-width: 1320px;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-text {
    color: var(--dl-color-gray-800);
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
    transition: 0.3s;
}

.footer-text:hover {
    font-weight: 800;
    margin-bottom: var(--dl-space-space-halfunit);
    color: var(--dl-color-gray-white);
    cursor: pointer;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-company, .footer-pages, .footer-products {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 53px;
}


@media(max-width: 991px) {
    .footer-container {
        padding: var(--dl-space-space-doubleunit);
    }
}

@media(max-width: 767px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-info {
        align-items: center;
        margin-bottom: var(--dl-space-space-doubleunit);
    }

    .footer-pages {
        margin-left: var(--dl-space-space-doubleunit);
    }

    .footer-products {
        margin-left: var(--dl-space-space-doubleunit);
    }
}

/* End Footer */



.home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

/* Start Hero */

.home-hero {
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
}

.hero-content {
    display: flex;
    position: relative;
    max-width: 1320px;
    min-height: 85vh;
    flex-direction: column;
    justify-content: center;
}

.home-card {
    width: 60%;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 1;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06) !important;
    margin-top: var(--dl-space-space-tripleunit);
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius1);
    flex-direction: column;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, .8);
}

.subtitle {
    color: var(--dl-color-secondary-700);
    text-align: center;
    margin-bottom: var(--dl-space-space-unitandahalfunit);
}

.hero-desc {
    color: var(--dl-color-secondary-600);
    margin-right: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-tripleunit);
}

.buttons-group {
    display: flex;
    margin-top: var(--dl-space-space-unitandahalfunit);
    margin-bottom: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
}


.partner {
    min-width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
        flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

}

.partner-image {
    width: 25%;
    object-fit: cover;
}

.hero-image {
    top: 0px;
    left: auto;
    right: 0px;
    width: 50%;
    bottom: 0px;
    height: 80vh;
    position: absolute;
    object-fit: cover;
    border-bottom-left-radius: 10rem;
}

/* End Hero */



.home-features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1320px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
}

/* Start Show */

.showcase-section {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    margin-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
}

.showcase-heading-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.title {
    margin-bottom: var(--dl-space-space-halfunit);
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase-desc {
    max-width: 600px;
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
}


.showcase-content-container {
    min-width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-tripleunit);
    margin-left: var(--dl-space-space-unitandahalfunit);
    margin-right: var(--dl-space-space-unitandahalfunit);
}

.showcase-image-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.showcase-image-main {
    width: 100%;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06) !important;
    object-fit: cover;
    margin-left: 3rem;
    margin-right: -3rem;
    border-radius: var(--dl-radius-radius-radius75);
}

.showcase-quote {
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    padding: var(--dl-space-space-unit);
    align-self: flex-end;
    margin-top: var(--dl-space-space-unitandahalfunit);
    align-items: flex-start;
    border-color: var(--dl-quote-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    margin-bottom: 8rem;
    flex-direction: column;
}

.showcase-author {
    color: var(--dl-showcase-author);
    font-weight: 400;
    white-space: normal;
    background-color: var(--dl-color-gray-white);
}

.showcase-additional-image-container {
    position: relative;
}

.showcase-image-secondary {
    top: 0px;
    left: auto;
    min-width: 90%;
    bottom: auto;
    position: absolute;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06) !important;
    object-fit: cover;
    margin-left: 2rem;
    border-radius: var(--dl-radius-radius-radius75);
}

.showcase-detail-container {
    width: 40%;
    display: flex;
    position: relative;
    padding-left: var(--dl-space-space-triplequarterunit);
    padding-right: var(--dl-space-space-triplequarterunit);
    flex-direction: column;
}

.showcase-image-tertiary {
    width: 100%;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06) !important;
    margin-top: 8rem;
    object-fit: cover;
    margin-left: -1.5rem;
    border-radius: var(--dl-radius-radius-radius75);
    margin-bottom: var(--dl-space-space-tripleunit);
}

.showcase-text-container {
    width: 90%;
    align-self: center;
}

.showcase-text-title {
    color: var(--dl-showcase-title);
    font-weight: 700;
    white-space: normal;
    background-color: var(--dl-color-gray-white);
}

.showcase-text-desc {
    color: var(--dl-showcase-desc);
    font-weight: 400;
    white-space: normal;
    background-color: var(--dl-color-gray-white);
}

/* End Show */

/* start testimonials */

.home-testimonials {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.testimonials-container {
    width: 100%;
    display: flex;
    max-width: 1320px;
    margin-top: 14rem;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: 15rem;
}

.testimonial-content {
    flex: 1;
}

.testimonial-comment {
    display: flex;
    max-width: 600px;
    align-items: flex-start;
    margin-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
}

.testimonial-title {
    color: var(--dl-color-gray-white);
}

.testimonial-desc {
    color: var(--dl-color-gray-white);
    opacity: 0.8;
    margin-bottom: var(--dl-space-space-doubleunit);
}

.testimonial-text{
    display: inline;
    font-weight: 400;
    white-space: normal;
}

.testimonial-quote {
    color: var(--dl-color-gray-white);
    opacity: 0.8;
    margin-bottom: var(--dl-space-space-doubleunit);
}

.author-name {
    color: var(--dl-color-gray-white);
}

.author-role {
    color: var(--dl-color-gray-white);
    opacity: 0.8;
}

.testimonial-images-container {
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
}

.testimonial-image{
    width: 40px;
    opacity: 0.5;
    object-fit: cover;
    transition: 0.3;
    border-radius: var(--dl-radius-radius-radius75);
}

.testimonial-image:hover {
    transform: scale(1.2);
    opacity: 0;
}

.divider{
    width: 1px;
    height: 25px;
    display: flex;
    opacity: 0.8;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
}

.testimonial-company {
    display: flex;
    min-width: 400px;
    padding-left: var(--dl-space-space-triplequarterunit);
    flex-direction: column;
}

.row1-container {
   min-width: 100%;
    min-height: 100px;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: row;
    justify-content: space-between;
}

.asana-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    align-self: flex-end;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}

.testimonial-company-image {
    width: 100%;
    object-fit: cover;
}


.slack-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}

.google-drive-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    align-self: flex-end;
    object-fit: cover;
    margin-right: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}


.row2-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: row;
    justify-content: space-between;
}

.shopify-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}



.apple-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    align-self: center;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}


.invision-container {
    width: 58px;
    padding: var(--dl-space-space-unit);
    align-self: flex-end;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}

.row3-container {
    width: 50%;
    height: 70px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.attlasian-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}


.weave-container {
    width: 58px;
    height: 58px;
    padding: var(--dl-space-space-unit);
    align-self: flex-end;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
    background-color: var(--dl-color-gray-white);
}


.home-bottom-wave-image {
    top: auto;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: -5px;
    position: absolute;
    object-fit: cover;
}

.home-image19 {
    top: auto;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: auto;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.home-top-wave-image {
    top: -5px;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: auto;
    position: absolute;
    object-fit: cover;
}

/* End testimonials */

/* Start Component */

.home-component {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
}

.component-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.component-logo {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius75);
    justify-content: center;
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.home-icon {
    fill: var(--dl-color-gray-800);
    width: 24px;
    height: 24px;
}

.component-desc {
    color: var(--dl-color-secondary-600);
    margin-bottom: var(--dl-space-space-halfunit);
}

.component-explain {
    color: var(--dl-showcase-desc);
    display: inline;
    font-weight: 400;
    white-space: normal;
    background-color: var(--dl-color-gray-white);
}

.component-list-container {
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-tripleunit);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.component-image1 {
    display: flex;
    position: relative;
    box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06) !important;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sixunits);
    border-radius: var(--dl-radius-radius-radius1);
    padding-right: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-size: cover;
    justify-content: center;
    background-image: url('https://i.pinimg.com/564x/20/25/ab/2025ab99ac7a7e50dd5db3b41f1c1ff4.jpg');
    background-position: center;
}

.omponent-image1:hover {
    transform: scale(1.04);
}



.component-image-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-background {
    fill: var(--dl-color-gray-900);
    width: 30px;
    height: 30px;
    margin-bottom: var(--dl-space-space-tripleunit);
}

.image-title {
    color: var(--dl-color-gray-white);
    max-width: 200px;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
}

.image-desc {
    color: var(--dl-color-gray-white);
    margin-bottom: var(--dl-space-space-tripleunit);
}

.component-list1 {
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
}

.home-divider {
    flex: 0 0 auto;
    width: 90%;
    height: 1px;
    display: flex;
    opacity: 0.25;
    margin-top: 4rem;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius75);
    margin-bottom: 4rem;
    flex-direction: column;
    background-color: var(--dl-color-gray-700);
}


.component-list2 {
    display: flex;
    align-items: flex-start;
    margin-right: var(--dl-space-space-fourunits);
    flex-direction: column;
}

@media(max-width: 991px) {
    .home-hero {
        padding-left: var(--dl-space-space-tripleunit);
        padding-right: var(--dl-space-space-tripleunit);
    }

    .hero-content {
        max-width: 960px;
    }

    .home-card {
        width: 100%;
    }

    .home-features {
        max-width: 960px;
    }

    .showcase-section {
        max-width: 960px;
        padding-left: var(--dl-space-space-doubleunit);
        padding-right: var(--dl-space-space-doubleunit);
    }

    .showcase-heading-container {
        max-width: 80%;
    }

    .showcase-desc {
        text-align: center;
    }

    .showcase-quote {
        width: 50%;
    }

    .testimonials-container {
        padding-left: var(--dl-space-space-doubleunit);
        padding-right: var(--dl-space-space-doubleunit);
        justify-content: center;
    }

    .testimonial-content {
        align-items: center;
    }

    .testimonial-comment {
        margin-right: 0px;
    }

    .home-logos {
        display: none;
    }

    .home-component {
        padding-left: var(--dl-space-space-doubleunit);
        padding-right: var(--dl-space-space-doubleunit);
    }

    .component-list1 {
        width: 45%;
        margin-left: var(--dl-space-space-unit);
    }

    .component-list2 {
        width: 45%;
        margin-right: var(--dl-space-space-unit);
    }
}

/* End Component */

@media(max-width: 767px) {
    .home-card {
        align-items: center;
    }

    .subtitle {
        text-align: center;
        margin-right: 0px;
        padding-right: 0px;
    }

    .partner-image {
        width: 40%;
        align-items: center;
    }

    .hero-image {
        display: none;
    }

    .home-features {
        max-width: 720px;
        padding-top: var(--dl-space-space-doubleunit);
        padding-left: var(--dl-space-space-unitandahalfunit);
        padding-right: var(--dl-space-space-unitandahalfunit);
        padding-bottom: var(--dl-space-space-doubleunit);
    }

    .showcase-section {
        max-width: 720px;
    }

    .showcase-content-container {
        align-items: center;
        flex-direction: column;
    }

    .showcase-image-container {
        width: 80%;
    }

    .showcase-image-main {
        margin-left: 0px;
        margin-right: 0px;
    }

    .showcase-quote {
        width: 70%;
        align-self: center;
        margin-top: var(--dl-space-space-tripleunit);
        margin-bottom: var(--dl-space-space-tripleunit);
    }

    .showcase-image-secondary {
        display: none;
    }

    .showcase-detail-container {
        width: 80%;
    }

    .showcase-image-tertiary {
        display: none;
    }

    .home-testimonials{
        margin: 0 auto;
    }

    .testimonials-container {
        display: block;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
    }

    .testimonial-company{
        display: none;
    }

    .component-container {
        width: 80%;
    }

    .component-explain {
        text-align: center;
    }

    .component-list-container {
        flex-direction: column;
    }

    .component-list1 {
        width: 80%;
        margin-top: var(--dl-space-space-fourunits);
        align-items: center;
        margin-left: 0px;
    }

    .home-divider {
        margin-top: var(--dl-space-space-doubleunit);
        margin-bottom: var(--dl-space-space-doubleunit);
    }


    .component-list2 {
        width: 80%;
        align-items: center;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-fourunits);
    }
}

@media(max-width: 479px) {
    .home-card {
        padding: var(--dl-space-space-unit);
    }

    .buttons-group {
        align-items: center;
        flex-direction: column;
    }

    .home-container03 {
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-features {
        width: 100%;
    }

    .testimonials-container {
        padding-top: var(--dl-space-space-sixunits);
        padding-bottom: var(--dl-space-space-sixunits);
    }

    .component-explain {
        text-align: center;
    }
}